body {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-image: url('MJbackgroundpic.jpeg');
}
li {
    font-style: italic;
    font-weight: normal;
}
.bold {
    font-weight: bold;
    font-style: normal;
}
.red {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

